<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin felület</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="menu">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark" >
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Feed-Net</a>
            <button class="navbar-toggler " onclick="TopNav()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-lg-0" id="navitems">
                <li class="nav-item">
                  <a class="nav-link" href="admin.html">Éttermek kezelés</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="felhasznaloszerkesztes.html">Felhasználókezelés</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="hibajelentesek.html">Hibajelentések</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link reg" href="login.html">Kijelentkezés</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
  <div id="egesz">
    <div class="jobboldal">
      <div>
        <a href="index.html"> <button class="btn btn-primary" id="etelkritikus" >Vissza a főoldalra</button></a>
      </div>
       
      
      <div id="kep" class="col-12">
        <h2>Itt fognak megjelenni az összes hiba ami javításra vár</h2>
      </div>
      <div id="ettermek" class="row m-0 p-0">
        <div id="etterem" class="col-12 col-md-12">
          <h2>Hiba és a hozzá tartozó adatok</h2>
        </div>
        <div id="etterem" class="col-12 col-md-12">
            <h2>Hiba és a hozzá tartozó adatok</h2>
        </div>
        <div id="etterem" class="col-12 col-md-12">
            <h2>Hiba és a hozzá tartozó adatok</h2>
        </div>

        
      </div>

      
      </div>
      

    </div>
  </div>
  <div id="footer">
    <h1>Footer</h1>
  </div>
  


      <script src="js/bootstrap.js"></script>
      <script src="js/index.js"></script>
</body>
</html>