:root{

    --szin:rgb(209, 200, 200);
    --ellenkezoszin:black;
    --feher: white;

    --highlight:#3f3e3e;
    --lesshighlight:#6b6864; /*Szűrés*/
    --footer:#b46306;
    --menu:#b46306;

    --star-rating-size: 25px;
    --unchecked-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3e%3cpath fill='%23fff' stroke='%23666' d='m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z'/%3e%3c/svg%3e");
    --checked-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3e%3cpath fill='gold' stroke='%23666' stroke-width='2' d='m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z'/%3e%3c/svg%3e");
    --hovered-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3e%3cpath fill='red' stroke='%23fff' stroke-width='2' d='m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z'/%3e%3c/svg%3e");
    --max-stars: 5;
   
}
body {
    font-family: "Lato", sans-serif;
    background-color: var(--highlight);
    
}

/*Star rating system*/
/*
.rating-css {
    height: 50px;
    width: 200px;
}
.rating-css div {
    color: #ffe400;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
}
.rating-css input {
    display: none;
}
.rating-css input + label {
    font-size: 20px;
    text-shadow: 1px 1px 0 #ffe400;
    cursor: pointer;
}
.rating-css input:checked + label ~ label {
    color: #838383;
}
.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}
*/


.star-rating{
    
    width: min-content;
    
    padding-bottom: 10px;
    border: 0;
}

.star-rating>div {
    position: relative;
    height: var(--star-rating-size);
    width: calc(var(--star-rating-size) * var(--max-stars));
    background-image: var(--unchecked-image); 
    background-size: var(--star-rating-size) var(--star-rating-size);
}

.star-rating label {
    position: absolute;
    height: 100%;
    background-size: var(--star-rating-size) var(--star-rating-size);
}

.star-rating label:nth-of-type(1) {
    z-index: 10;
    width: calc(100% / var(--max-stars) * 1);
}

.star-rating label:nth-of-type(2) {
    z-index: 9;
    width: calc(100% / var(--max-stars) * 2);
}

.star-rating label:nth-of-type(3) {
    z-index: 8;
    width: calc(100% / var(--max-stars) * 3);
}

.star-rating label:nth-of-type(4) {
    z-index: 7;
    width: calc(100% / var(--max-stars) * 4);
}

.star-rating label:nth-of-type(5) {
    z-index: 6;
    width: calc(100% / var(--max-stars) * 5);
}
.star-rating input:checked + label,
.star-rating input:focus + label{
    background-image: var(--checked-image); 
}
.star-rating input:checked + label:hover,
.star-rating label:hover{
    background-image: var(--hovered-image); 
}


.star-rating input,
.star-rating label>span{
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.star-rating>div:focus-within{
    /*Ha ki akarjuk emelni
    outline: 0.25rem solid lightblue;
    */
    
    
}

.star-value{
  font-size: 5rem;
  margin: 0.2rem;
}

.star-rating-kivalasztott{
    width: min-content;
    
    padding-bottom: 10px;
    border: 0;
}

.star-rating-kivalasztott>div {
    position: relative;
    height: var(--star-rating-size);
    width: calc(var(--star-rating-size) * var(--max-stars));
    background-image: var(--unchecked-image); 
    background-size: var(--star-rating-size) var(--star-rating-size);
}

.star-rating-kivalasztott label {
    position: absolute;
    height: 100%;
    background-size: var(--star-rating-size) var(--star-rating-size);
}

.star-rating-kivalasztott label:nth-of-type(1) {
    z-index: 10;
    width: calc(100% / var(--max-stars) * 1);
}

.star-rating-kivalasztott label:nth-of-type(2) {
    z-index: 9;
    width: calc(100% / var(--max-stars) * 2);
}

.star-rating-kivalasztott label:nth-of-type(3) {
    z-index: 8;
    width: calc(100% / var(--max-stars) * 3);
}

.star-rating-kivalasztott label:nth-of-type(4) {
    z-index: 7;
    width: calc(100% / var(--max-stars) * 4);
}

.star-rating-kivalasztott label:nth-of-type(5) {
    z-index: 6;
    width: calc(100% / var(--max-stars) * 5);
}
.star-rating-kivalasztott input:checked +.star-rating-kivalasztott label,
.star-rating-kivalasztott input:focus +.star-rating-kivalasztott label{
    background-image: var(--checked-image); 
}
.star-rating-kivalasztott input:checked +.star-rating-kivalasztott label:hover,
.star-rating-kivalasztott label:hover{
    background-image: var(--hovered-image); 
}

.star-rating-kivalasztott input,
.star-rating-kivalasztott label>span{
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    
}
.star-rating-kivalasztott>div:focus-within{
    
    outline: 0.25rem solid lightblue;
    
    
    
}


.accordion-button {
    background-color: slategray;
}
.accordion-button:not(.collapsed){
    color: black;
    background-color: slategray;
}
img{
    width: 100%;
    /*height: 100%;*/
}
#menu{
 position: fixed;
 width: 100%;
 background-color: var(--menu);
 z-index: 100;
}
#egesz{
    background-color: var(--highlight);
    width: 100%;
    height: 100%;
    
    padding-top: 55px;
    transition: margin-left .5s;
    padding-bottom: 0;
   
}
#adminegesz{
    background-color: var(--highlight);
    width: 100%;
    height: 100%;
    padding-left: 80px;
    padding-right: 80px;
    transition: margin-left .5s;
    padding-bottom: 0;
   
}
.jobboldal
{
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: var(--highlight);
    color: var(--szin);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#main {
    position: fixed;
    top: 56px;
    transition: .1s;
    padding: 15px;
    /*
    background-color: var(--lesshighlight);*/
    width: 80px;
    margin-bottom: 80px;
    z-index: 0;
}
#kereses{
    margin:0 auto;
    margin-top: 5px;
    margin-bottom: 5px;

    width: 850px;
    text-align: center;
}
#kereses input{
    width: 50%;
}
#adminkereses{
    margin:0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    width: 99%;
    border: 1px solid black;

}
#kereses input#radio{
    width:0%;
}

#ettermek{
    background-color: var(--highlight);
    width: 100%;
    
}
#ertekeles,#kep,#etterem{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    padding: 10px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
#etterem a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#etterem a h2{
    color: var(--szin);
}
#ertekeles textarea{
    width: 100%;
    height: 100px;
}
#etterem h2{
    margin-left: 10px;
}

#mySidebar {
    height: 100%;
    width: 250px;
    display: none;
    position: fixed;
    z-index: 1;
    /*
    top: 35px;*/
    left: 0;
    background-color:var(--lesshighlight);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.szurok{
    color: var(--szin);
}
.szurokwrap{
    padding-bottom: 10px;
    padding-left: 30px;
}
#megse{
    background-color: var(--highlight);
}
#megse:hover{
    background-color: var(--ellenkezoszin);
}

  
#mySidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:  var(--feher);
    background-color: var(--highlight) transparent;
    display: block;
    transition: 0.3s;
}
#mySidebar h3 {
    padding: 8px 8px 8px 32px;
    padding-top: 30px;
    text-decoration: none;
    font-size: 25px;
    color:  var(--feher);
    background-color: var(--highlight) transparent;
    display: block;
    transition: 0.3s;
}

  
#mySidebar a:hover {
    color: #f1f1f1;
}
  
 #mySidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
 }
  
.opensidebarbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
.opensidebarbtn:hover {
    background-color: #444;
}
  
#footer{
    width: 100%;
    padding: 0;
    background-color: var(--footer);
    color: white;
    margin:0 auto;
    /* a szöveg középre helyezése
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;*/
    transition: 0.5s;
    
}
a{
    text-decoration: none;
    color: var(--feher);
}
a:hover{
    color: var(--feher);
}
#kivalasztottegesz{
    width: 100%;
    /*padding: 10px;*/
    padding-top: 55px;

}
#kivalasztottegesz h1{
    padding-top: 10px;
    padding-bottom: 10px;
}

.gombok{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.gombok button{
    /*float: right;*/
    margin-right: 10px;
    margin-bottom: 10px;
}
#cimresz{
    width: 100%;
    z-index: 100;
}
#kivalasztott{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}
#infok{
    /*display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 150px;
    border: 1px solid black;*/
    margin-top: 50px;
}
/*
#informaciok{
    height: 100%;
    width: 100%;
}*/


#etelkritikus{
    
    width: 150px;
    height: 40px;
    margin: 10px;
    margin-left: 13px;
    padding: 0;
    float:left;
}
.reg
{
    position: absolute;
    cursor: pointer;
    right: 0;
}
.login
{
    position: absolute;
    cursor: pointer;
    right: 100px;
}

#gyik{
    display: flex;
    align-items: center;
    height: 150px;
    border: 1px solid black;
    margin-bottom: 10px;
}
@media (min-width: 992px) {
    .reg
{
    position: absolute;
    cursor: pointer;
    right: 0;
}

}
@media screen and (max-height: 450px) {
    #mySidebar {padding-top: 15px;}
    #mySidebar a {font-size: 18px;}
}

.container
{
    /*background-color: rgba(100,100, 100, 0.2);*/
    background-color: white;
    box-shadow: 0 0 15px gray;
    margin: 50px auto;
    padding: 15px;
}

.logout
{
    position: absolute;
    cursor: pointer;
    right: 0;
}
.form-group
{
padding: 2px;
}
@media (min-width: 992px) {
    .logout
{
    position: absolute;
    cursor: pointer;
    right: 0;
}

}
@media (max-width: 767px) {
    .login
    {
        position: relative;
        cursor: pointer;
        right: 0;
    }
    .reg
    {
        position: relative;
        cursor: pointer;
    }
    #kereso
    {
        width: 40%;
    }

}
#h2{
    padding: 3px;
    text-align: center;
}
form
{
    background-color: white;
    border: 1px solid black;
}
.kozepre
{
    display: flex;
    justify-content: center;
}
ol
{
    margin: 0;
}

/*Login és register css részek*/
.loginheader{
    background-color: slategray;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px black;
    
}
.loginlabel,h6
{
    font-style: italic;
    color: rgb(148, 148, 148);
}
.loginfooter
{
background-color: rgb(58,71,83);
color: white;
text-align: center;
font-size: 80%;
padding: 10px;
letter-spacing: 3px;
}
.sorkoz
{
    padding: 3px;
}
.loginform
{
    border: 0;
}
.table tbody tr:hover
{
    background-color: var(--hoverszin);
    cursor: pointer;
}
@media (max-width: 576px) {

    #adminegesz{
    padding-left: 2px;
    padding-right:2px ;
}
}

  @media (max-width: 420px) {


   .admin{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
  }
#kereso
{
    display: block;
    right: 0;
    width: 90%;
    height: 40px;
    margin:auto;
}
 div>.container-fluid
{
    margin-top: 5px;margin-bottom: 20px;
}

@media (max-width: 768px) {
    .gombok{
        display: block;
    }
}