<div id="adminegesz" ng-controller="etteremnyitvatartasCtrl">
    <div class="adminkereses">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item accord_item"  >
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button accord_item" type="button"  data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Új Nyitvatartás ferlvétele
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <label for="Nap">Nap:</label>
                <select name="nem" id="jog" ng-model="ujnap"  class="form-control">
                  <option value="Hétfő">Hétfő</option>
                  <option value="Kedd">Kedd</option>
                  <option value="Szerda">Szerda</option>
                  <option value="Csötörtök">Csötörtök</option>
                  <option value="Péntek">Péntek</option>
                  <option value="Szombat">Szombat</option>
                  <option value="Vasárnap">Vasárnap</option>
                </select>
                <br>
                <div class="form-floating mb-3">
                  <input type="time" class="form-control" ng-model="ujnyitas" placeholder="teszt@email.com">
                  <label for="floatingInput">Nyitás</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="time" class="form-control"   ng-model="ujzaras" placeholder="teszt@email.com">
                  <label for="floatingInput">Zárás</label>
                </div> 
                <button class="btn btn-warning" ng-if="felvesz==1" ng-click="insert()">Felvesz</button>
                <button class="btn btn-warning"ng-if="felvesz==0" ng-click="update()">Módosít</button>
                <button class="btn btn-success"ng-if="felvesz==0" ng-click="unselectRow()">Vissza</button>
            </div>
          </div>
        </div>
        </div>
      <p class="visszaetterem"> <a class="visszavaltascolor" href="#!/admin" >Vissza az éttermekre</a></p>
        <div class="table-responsive">
          <table class="table table-striped table-dark table-sm" >
              <thead>
                <tr>
                  <th>Nap</th>
                  <th>Nyitás</th>
                  <th>Zárás</th>
                  <th>Törlés</th>
                </tr>
              </thead>
              <tbody>
                <tr class="animate" ng-repeat="adat in nyitas | filter:{Nev:search}" ng-click="select($index,adat.ID)">
                  <td>{{adat.Nap}}</td>
                  <td>{{adat.Nyitas}}</td>
                  <td>{{adat.Zaras}}</td>
                  <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#torol"><i class="bi bi-x-lg" ></i></button></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4" class="text-center">Összesen: {{nyitas.length}} rekord </td>
                </tr>
              </tfoot>
            </table>
            </div>
            <div class="modal fade" id="torol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Törlés</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    
                    Biztosan törölni szeretnéd ezt az adatot?
                  </div>           
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="delete()" data-bs-dismiss="modal">Törlés</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégsem</button>
                    
                  </div>
                </div>
              </div>
            </div>
        </div>  
      </div>
    </div>