<!DOCTYPE html>
<html lang="hu" ng-app="Feed-Net">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Étterem kezelés</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/app2.js"></script>
</head>
<body ng-controller="etteremCtrl">
    <div id="menu" style="z-index: 100;">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark" >
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Feed-Net</a>
            <button class="navbar-toggler " onclick="TopNav()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-lg-0" id="navitems">
                <li class="nav-item">
                  <a class="nav-link" href="admin.html">Éttermek kezelés</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="felhasznaloszerkesztes.html">Felhasználókezelés</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="hibajelentesek.html">Hibajelentések</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link reg" href="login.html">Kijelentkezés</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
  <div id="egesz">
      
       
      <div id="kereses" class="admin">
        <div>
          <a href="index.html"> <button class="btn btn-primary" id="etelkritikus" >Vissza a főoldalra</button></a>
        </div>
        <div class="container-fluid" >
        <input class="" id="kereso"  type="search" placeholder="Keresés" ng-model="search" >
    </div>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item" ng-show="etteremad==1">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Új Étterem felvétele vagy meglévő szerkesztése
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" ng-model="ujnev" placeholder="Jakab Jozsef">
                <label for="floatingInput">Név</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput"ng-model="ujemail" placeholder="tesz1@gmail.com">
                <label for="floatingInput">Email Cím</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput"ng-model="ujtelefon" placeholder="+">
                <label for="floatingInput">Telefon</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput"ng-model="ujcim" placeholder="+">
                <label for="floatingInput">Cím</label>
              </div>
              <label for="leiras">Leírás:</label>
              <textarea name="" id="" cols="30" rows="10" class="form-control" ng-model="ujleiras"></textarea>
              <label for="parkolo">Parkoló:</label>
              <input type="checkbox" class="form-check-input" name="parkolo" ng-model="ujparkolo" ng-checked="parkolo==1" ><br>
              <label for="bankkartya">Bankkártya:</label>
              <input type="checkbox" class="form-check-input" name="bankkartya"ng-model="ujbankkartya" ><br>
              <label for="glutenmentes">Gluténmentes:</label>
              <input type="checkbox" class="form-check-input" name="glutenmentes" ng-model="ujglutenmentes" ><br>
              <label for="terasz">Terasz:</label>
              <input type="checkbox" class="form-check-input" name="terasz" ng-model="ujterasz" ><br>
              <label for="berelheto">Bérelhető:</label>
              <input type="checkbox" class="form-check-input" name="berelheto" ng-model="ujberelheto" ><br>
              <label for="hazhozszallitas">Házhozszállítás:</label>
              <input type="checkbox" class="form-check-input" name="hazhozszallitas" ng-model="ujhazhozszallitas"><br>
              <button class="btn btn-warning" ng-if="felvesz==1" ng-click="felvesz()">Felvesz</button>
              <button class="btn btn-warning"ng-if="felvesz==0" ng-click="update()">Módosít</button>
              <button class="btn btn-warning"ng-if="felvesz==0" ng-click="unselectRow()">Vissza</button>
              <button class=" btn btn-danger" ng-click="deleteRecord()" ng-hide="felvesz==1"><i class="bi bi-x-lg" ></i></button></td>
          </div>
        </div>
      </div>
      
      <div class="accordion-item" ng-show="etteremad==0">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Új étel felvétele vagy szerkesztése
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" ng-model="ujnevetel" placeholder="+">
              <label for="floatingInput">Név</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" ng-model="ujar" placeholder="+">
              <label for="floatingInput">Ár</label>
            </div>
              <label for="leiras">Leírás:</label>
              <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Az étel leírása" ng-model="ujleirasetel"></textarea>

              <button class="btn btn-warning" ng-if="felvesz2==1" ng-click="felveszEtlap()">Felvesz</button>
              <button class="btn btn-warning"ng-if="felvesz2==0" ng-click="updateEtlap()">Módosít</button>
              <button class="btn btn-warning"ng-if="felvesz2==0" ng-click="unselectRowEtlap()">Vissza</button>
              <button class=" btn btn-danger" ng-click="deleteRecord()" ng-hide="felvesz2==1"><i class="bi bi-x-lg" ></i></button></td>
          </div>
        </div>
      </div>
      </div>
      <a href="" ng-show="etteremad==0" style="text-decoration: none; " ng-click="visszavaltasetterem()"><p style="margin-top: 10px;margin-bottom: 10px;">Vissza az éttermekre</p></a>
      <table class="table table-striped table-sm" ng-show="etteremad==1">
        <thead>
          <tr>
            <th>Név</th>
            <th>Telefon</th>
            <th>Cím</th>
            <th>Leírás</th>
            <th>Étlap</th>
          </tr>
        </thead>
        <tbody>
          <tr class="animate" ng-repeat="adat in ettermek | filter:{nev:search}" ng-click="selectRow($index)">
            <td>{{adat.nev}}</td>
            <td>{{adat.telefon}}</td>
            <td>{{adat.cim}}</td>
            <td>{{adat.leiras}}</td>
            <td><button class=" btn btn-info" ng-click="etterem(adat.id)" ><i class="bi bi-list"></i></td></button>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6" class="text-center">Összesen: {{ettermek.length}} rekord</td>
          </tr>
        </tfoot>
      </table>

      <table class="table table-striped table-sm" ng-show="etteremad==0">
        <thead>
          <tr>
            <th>Név</th>
            <th>Ár</th>
            <th>Leírás</th>
          </tr>
        </thead>
        <tbody>
          <tr class="animate" ng-repeat="adat in etlap | filter:{nev:search}" ng-click="selectRowEtlap($index)">
            <td>{{adat.nev}}</td>
            <td>{{adat.ar}} Ft</td>
            <td>{{adat.leiras}}</td>
            
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="text-center">Összesen: {{etlap.length}} rekord</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div id="footer">
    <h1>Footer</h1>
  </div>
</body>
</html>