<div id="adminegesz" ng-controller="etteremetlapCtrl">
  <div id="adminkereses">
      <div class="container-fluid" >
      <input class="" id="kereso"  type="search" placeholder="Keresés" ng-model="search" >
  </div>
  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        Új étel felvétele vagy szerkesztése
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" ng-model="ujnevetel" placeholder="+">
            <label for="floatingInput">Név</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" ng-model="ujar" placeholder="+">
            <label for="floatingInput">Ár</label>
          </div>
            <label for="leiras">Leírás:</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Az étel leírása" ng-model="ujleirasetel"></textarea>

            <button class="btn btn-warning" ng-if="felvesz2==1" ng-click="insertEtlap()">Felvesz</button>
            <button class="btn btn-warning"ng-if="felvesz2==0" ng-click="updateEtlap()">Módosít</button>
            <button class="btn btn-success"ng-if="felvesz2==0" ng-click="unselectRowEtlap()">Vissza</button>
            <!--<button class=" btn btn-danger" ng-click="deleteRecord()" ng-hide="felvesz2==1"><i class="bi bi-x-lg" ></i></button>-->
        </div>
      </div>
    </div>
  </div>
  <p class="visszaetterem"> <a ng-click="visszavaltas()" class="visszavaltascolor" href="#!/admin" >Vissza az éttermekre</a></p>
  <br>
    <div class="table-responsive">
      <table class="table table-striped table-dark table-sm" >
          <thead>
            <tr>
              <th>Név</th>
              <th>Ár</th>
              <th>Leírás</th>
              <th>Törlés</th>
            </tr>
          </thead>
          <tbody>
            <tr class="animate" ng-repeat="adat in etlap | filter:{Nev:search}" ng-click="selectRowEtlap($index)">
              <td>{{adat.Nev}}</td>
              <td>{{adat.Ar}} Ft</td>
              <td>{{adat.Leiras}}</td>
              <td><button class=" btn btn-danger" ng-click="egyvalaszt($index)" data-bs-toggle="modal" data-bs-target="#torol"><i class="bi bi-x-lg" ></i></button></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" class="text-center">Összesen: {{etlap.length}} rekord </td>
            </tr>
          </tfoot>
        </table>
        <div class="modal fade" id="torol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Törlés</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Biztosan törölni akarja ezt az adatot?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="deleteRecord()" data-bs-dismiss="modal">Törlés</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégsem</button>
                
              </div>
            </div>
          </div>
        </div>
    </div>  
  </div>
</div>