
<div id="adminegesz" ng-controller="etteremfoglalasCtrl">
<div class="adminkereses" >
   
    <h1 style="text-align: center; padding-top: 10px;">Az étterem helyfoglalásai</h1>
    <hr>
    <div class="container-fluid" >
        <!--<input class="" id="kereso"  type="search" placeholder="Keresés" ng-model="search" >-->
    </div>
    <div class="form-check form-switch"  style="padding-bottom: 10px;padding-top: 10px;">
      <label for="terasz" >Régi adatok megjelenítése</label>
      <input type="checkbox" ng-click="regiadatok()" class="form-check-input" ng-model="regiadat" ng-checked="regiadat==1" ><br>
    </div>
  <div class="table-responsive">
    <table class="table table-success table-borderless border-dark table-sm" >
        <thead>
          <tr>
            <th>Név</th>
            <th>Kezdés</th>
            <th>Fő</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="animate" ng-repeat="adat in etteremhely | filter:{Nev:search}" ng-class="{'lejart':mostido>adat.Kezdes}">
            <td>{{adat.Nev}}</td>
            <td>{{adat.Kezdes}}</td>
            <td >{{adat.Fo}} </td>
            <td><i ng-click="select($index)" data-bs-toggle="modal" data-bs-target="#modosit" class="bi bi-x-lg"></i></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" class="text-center">Összesen: {{etteremhely.length}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
      <div class="modal fade" id="modosit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Törlés</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Biztos szeretné törölni az adatot?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="torol()" data-bs-dismiss="modal">Törlés</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégsem</button>
              <!--<button type="button" class="btn btn-primary" ng-click="modosit()" data-bs-dismiss="modal">Módosítás</button>-->
            </div>
          </div>
        </div>
      </div>
</div>
</div>