<div id="adminegesz" ng-controller="etteremCtrl">
    <div class="adminkereses">
        <h2 class="text-center">Étterem adatai</h2>
        <hr>
        <div class="form-floating mb-3 ">
            <input type="text" class="form-control" id="floatingInput" ng-model="ujnev" placeholder="Jakab Jozsef">
            <label for="floatingInput">Név</label>
          </div>
          <div class="form-floating mb-3 ">
            <input type="email" class="form-control" id="floatingInput" ng-model="ujemail" placeholder="tesz1@gmail.com">
            <label for="floatingInput">Email Cím</label>
          </div>
          <div class="form-floating mb-3 ">
            <input type="text" class="form-control" id="floatingInput "ng-model="ujtelefon" placeholder="+">
            <label for="floatingInput">Telefon</label>
          </div>
          <div class="form-floating mb-3 ">
            <input type="text" class="form-control" id="floatingInput" ng-model="ujcim" placeholder="+">
            <label for="floatingInput">Cím</label>
          </div>
          <div class="form-floating mb-3 ">
            <input type="text" class="form-control" id="floatingInput" ng-model="ujweboldal" placeholder="+">
            <label for="floatingInput">Weboldal</label>
          </div>
          <div class="form-floating mb-3 ">
            <input type="text" class="form-control" id="floatingInput" ng-model="ujfacebook" placeholder="+">
            <label for="floatingInput">Facebook</label>
          </div>
          <div class="form-floating mb-3 ">
            <input type="text" class="form-control" id="floatingInput" ng-model="ujtipus" placeholder="+">
            <label for="floatingInput">Tipus</label>
          </div>
          <div class="form-floating mb-3 ">
            <input type="number" min="0" class="form-control" id="floatingInput" ng-model="ujferohely" placeholder="+">
            <label for="floatingInput">Férőhely</label>
          </div>
          <div class="form-floating mb-3">
          <textarea name="" id="" class="form-control" style="height: 170px; border-radius: 25px;" placeholder="Leírás" ng-model="ujleiras"></textarea>
          <label for="">Leírás</label>
          </div>
          <div class="form-check form-switch ">
            <label for="parkolo">Parkoló</label>
          <input type="checkbox" class="form-check-input" name="parkolo" ng-model="ujparkolo" ng-checked="ujparkolo==1" ><br>
        </div>
        <div class="form-check form-switch ">
          <label for="bankkartya">Bankkártya</label>
          <input type="checkbox" class="form-check-input" name="bankkartya" ng-model="ujbankkartya" ng-checked="ujbankkartya==1" ><br>
        </div>
         <div class="form-check form-switch ">
          <label for="glutenmentes">Gluténmentes</label>
          <input type="checkbox" class="form-check-input" name="glutenmentes" ng-model="ujglutenmentes" ng-checked="ujglutenmentes==1" ><br>
        </div>
         <div class="form-check form-switch ">
          <label for="terasz">Terasz</label>
          <input type="checkbox" class="form-check-input" name="terasz" ng-model="ujterasz" ng-checked="ujterasz==1" ><br>
        </div>
        <div class="form-check form-switch ">
          <label for="berelheto">Bérelhető</label>
          <input type="checkbox" class="form-check-input" name="berelheto" ng-model="ujberelheto" ng-checked="ujberelheto==1"><br>
        </div>
        <div class="form-check form-switch ">
          <label for="berelheto">Wifi</label>
          <input type="checkbox" class="form-check-input" name="berelheto" ng-model="ujwifi" ng-checked="ujwifi==1"><br>
        </div>
        <div class="form-check form-switch ">
          <label for="hazhozszallitas">Házhozszállítás</label>
          <input type="checkbox" class="form-check-input" name="hazhozszallitas" ng-model="ujhazhozszallitas" ng-checked="ujhazhozszallitas==1"><br>
        </div>
        <div class="form-check form-switch ">
          <label for="statusz">Státusz</label>
          <input type="checkbox" class="form-check-input" name="statusz" ng-model="ujstatusz" ng-checked="ujstatusz==1"><br>
        </div>
          <button class="btn btn-warning m-1" ng-click="update()">Módosít</button>
    </div>
</div>