<div id="adminegesz" ng-controller="felhasznalokCtrl">
      <div id="adminkereses" >
        <div class="container-fluid" >
          <input class="" id="kereso"  type="search" placeholder="Keresés" ng-model="search" >
      </div>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Új felhasználó felvétele vagy meglévő szerkesztése
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput"  ng-model="ujnev" placeholder="+">
                <label for="floatingInput">Név</label>
              </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" ng-model="ujemail" placeholder="teszt@email.com">
                  <label for="floatingInput">Email Cím</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput"  ng-model="ujtelefon" placeholder="teszt@email.com">
                  <label for="floatingInput">Telefon</label>
                </div> 
                 
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput"  ng-model="ujpass" placeholder="t">
                  <label for="floatingInput">Jelszó</label>
                </div>               
                <label for="jog">Jog:</label>
                <select name="nem" id=""ng-model="ujjog" class="form-control" ng-disabled="admin">
                  <option value="user">felhasználó</option>
                  <option value="admin">Admin</option>
                  <option value="etterem">Étterem</option>
                </select>
               <label for="Statusz">Státusz:</label>
                <input type="checkbox" class="form-check-input" name="statusz" ng-model="ujstatusz" ng-checked="ujstatusz==1" ng-disabled="admin" ><br>
               <button class="btn btn-warning" ng-if="felvesz==1" ng-click="insert()">Felvesz</button>
                <button class="btn btn-warning"ng-if="felvesz==0" ng-click="update()">Módosít</button>
                <button class="btn btn-warning"ng-if="felvesz==0" ng-click="unselectRow()">Vissza</button>
                <button class=" btn btn-danger" ng-click="deleteRecord()" ng-disabled="admin" ng-hide="felvesz==1"><i class="bi bi-x-lg" ></i></button></td>
            </div>
          </div>
        </div>
        </div>
        <br>
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Név</th>
              <th>Email</th>
              <th>Státusz</th>
            </tr>
          </thead>
          <tbody>
            <tr class="animate" ng-repeat="adat in felhasznalok | filter:{nev:search}" ng-click="selectRow($index)">
              <td>{{adat.Nev}}</td>
              <td>{{adat.Email}}</td>
              <td>{{adat.Statusz}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" class="text-center">Összesen: {{felhasznalok.length}} rekord</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>