<!DOCTYPE html>
<html lang="hu" ng-app="Feed-Net">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Felhasználó kezelés</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/app2.js"></script>
</head>
<body ng-controller="felhasznalokCtrl">
    <div id="menu" style="z-index: 100;">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark" >
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Feed-Net</a>
            <button class="navbar-toggler " onclick="TopNav()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-lg-0" id="navitems">
                <li class="nav-item">
                  <a class="nav-link" href="admin.html">Éttermek kezelés</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="felhasznaloszerkesztes.html">Felhasználókezelés</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="hibajelentesek.html">Hibajelentések</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link reg" href="login.html">Kijelentkezés</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
  <div id="egesz">
    
      <div id="adminkereses" class="admin">
        <div>
          <a href="index.html"> <button class="btn btn-primary" id="etelkritikus" >Vissza a főoldalra</button></a>
         </div>
        <div class="container-fluid" >
          <input class="" id="kereso"  type="search" placeholder="Keresés" ng-model="search" >
      </div>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Új felhasználó felvétele vagy meglévő szerkesztése
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput"  ng-model="ujnev" placeholder="+">
                <label for="floatingInput">Név</label>
              </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" ng-model="ujemail" placeholder="teszt@email.com">
                  <label for="floatingInput">Email Cím</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput"  ng-model="ujtelefon" placeholder="teszt@email.com">
                  <label for="floatingInput">Telefon</label>
                </div>                
                <label for="jog">Jog:</label>
                <select name="nem" id=""ng-model="ujjog" class="form-control">
                  <option value="user">felhasználó</option>
                  <option value="admin">Admin</option>
                </select>
               <label for="Statusz">Státusz:</label>
                <input type="checkbox" class="form-check-input" name="statusz" ng-model="ujstatusz" ng-checked="statusz==1" ng-disabled="admin" ><br>
                <button class="btn btn-warning" ng-if="felvesz==1" ng-click="felvesz()">Felvesz</button>
                <button class="btn btn-warning"ng-if="felvesz==0" ng-click="update()">Módosít</button>
                <button class="btn btn-warning"ng-if="felvesz==0" ng-click="unselectRow()">Vissza</button>
                <button class=" btn btn-danger" ng-click="deleteRecord()" ng-hide="felvesz==1"><i class="bi bi-x-lg" ></i></button></td>
            </div>
          </div>
        </div>
        </div>
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Név</th>
              <th>Email</th>
              <th>Telefon</th>
            </tr>
          </thead>
          <tbody>
            <tr class="animate" ng-repeat="adat in felhasznalok | filter:{nev:search}" ng-click="selectRow($index)">
              <td>{{adat.nev}}</td>
              <td>{{adat.email}}</td>
              <td>{{adat.telefon}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" class="text-center">Összesen: {{felhasznalok.length}} rekord</td>
            </tr>
          </tfoot>
        </table>
      </div>
      
      

  </div>
  <div id="footer">
    <h1>Footer</h1>
  </div>
  

     
</body>
</html>