<div id="adminegesz" ng-controller="felhasznalokCtrl">
      <div class="adminkereses" >
        <div class="container-fluid" >
          <input class="" id="kereso"  type="search" placeholder="Keresés" ng-model="search" >
      </div>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item accord_item"  >
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button accord_item" type="button"  data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Új felhasználó felvétele vagy meglévő szerkesztése
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" ng-disabled="admin"  ng-model="ujnev" placeholder="+">
                <label for="floatingInput">Név</label>
              </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" ng-disabled="admin" ng-model="ujemail" placeholder="teszt@email.com">
                  <label for="floatingInput">Email Cím</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" ng-disabled="admin"   ng-model="ujtelefon" placeholder="teszt@email.com">
                  <label for="floatingInput">Telefon</label>
                </div> 
                 
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" ng-disabled="admin"  ng-model="ujpass" placeholder="t">
                  <label for="floatingInput">Jelszó</label>
                </div>               
                <label for="jog">Jog:</label>
                <select name="nem" id="jog"ng-model="ujjog" class="form-control" ng-disabled="admin">
                  <option value="user">felhasználó</option>
                  <option value="admin">Admin</option>
                  <option value="etterem">Étterem</option>
                </select>
                <div class="form-check form-switch">
               <label for="Statusz">Státusz</label>
                <input type="checkbox" class="form-check-input" name="statusz" ng-model="ujstatusz" ng-checked="ujstatusz==1" ng-disabled="admin" ><br>
              </div>
                <button class="btn btn-warning" ng-if="felvesz==1" ng-click="insert()">Felvesz</button>
                <button class="btn btn-warning"ng-if="felvesz==0" ng-disabled="admin" ng-click="update()">Módosít</button>
                <button class="btn btn-success" ng-if="felvesz==0" ng-click="unselectRow()">Vissza</button>
                <button class=" btn btn-danger" data-bs-toggle="modal" data-bs-target="#torol" ng-disabled="admin" ng-hide="felvesz==1"><i class="bi bi-x-lg" ></i></button></td>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="adminkereses" >
        <div class="table-responsive">
          <table class="table table-dark table-sm">
            <thead>
              <tr>
                <th>Név</th>
                <th>Email</th>
                <th>Státusz</th>
              </tr>
            </thead>
            <tbody>
              <tr class="animate" ng-repeat="adat in felhasznalok | filter:{Nev:search}" ng-class="{'lejart':adat.Statusz==false}" ng-click="selectRow($index)">
                <td>{{adat.Nev}}</td>
                <td>{{adat.Email}}</td>
                <td>{{adat.Statusz}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4" class="text-center">Összesen: {{felhasznalok.length}} rekord</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="modal fade" id="torol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Törlés</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Biztosan törölni akarja ezt az adatot?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="deleteRecord()" data-bs-dismiss="modal">Töröl</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mégsem</button>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>