<!DOCTYPE html>

<html lang="hu" ng-app="Feed-Net">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="css/angular-notifications.css">
    <link rel="stylesheet" href="css/style.css">
    
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/lodash.js"></script>
    <script src="js/angularjs-notify.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/sha1.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/app.js"></script>  
  <script src="modules/dbfactory.js"></script>

    <script src="controllers/etteremCtrl.js"></script>
    <script src="controllers/kivalasztottCtrl.js"></script>
    <script src="controllers/felhasznalokCtrl.js"></script>
    <script src="controllers/hibajelentesekCtrl.js"></script>
    <script src="controllers/etteremetlapCtrl.js"></script>
    <script src="controllers/etteremfoglalasCtrl.js"></script>
  <script src="controllers/ettermekCtrl.js"></script>
  <script src="controllers/gyikCtrl.js"></script>
  <script src="controllers/kedvencekCtrl.js"></script>
  <script src="controllers/regCtrl.js"></script>
  <script src="controllers/loginCtrl.js"></script>
  <script src="controllers/ertekelesCtrl.js"></script>
  <script src="controllers/profilmodCtrl.js"></script>
  <script src="controllers/etteremnyitvatartasCtrl.js"></script>
  <script src="controllers/helyfoglalasCtrl.js"></script>
  <script src="controllers/etteremkepekCtrl.js"></script>
  
    <title class="ng-binding">{{title}}</title>

</head>
<body>
  
<div id="page-container">
  <div id="content-wrap">
  <div id="menu">
    <nav class="navbar navbar-expand-md navbar-dark" >
      <div class="container-fluid">
        <a class="navbar-brand" href="#!/">Feed-Net</a>
        <button class="navbar-toggler " onclick="TopNav()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" ng-if="logivagyreg==false">
          <ul class="navbar-nav me-auto mb-lg-0" id="navitems">
            <li class="nav-item">
              <a class="nav-link" onclick="closeNav()" aria-current="page" href="#!/" >Főoldal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="closeNav()" ng-if="loggedIn==true&&logJog=='admin'||logJog=='user'" href="#!/kedvencek">Kedvencek</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="closeNav()"  href="#!/gyik">GYIK</a>
            </li>

            <li class="nav-item dropdown" ng-if="logJog=='admin'||logJog=='user'&&loggedIn==true" >
              <a class="nav-link dropdown-toggle" href="#" onclick="closeNav()" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profil módosítás
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item"  ng-if="logJog=='admin'||logJog=='user'" href="#!/profilmod" onclick="closeNav()"><i class="bx bi-gear-fill"> </i> Fiók adatainak módosítása</a></li>
                <li><a class="dropdown-item"  ng-if="logJog=='admin'||logJog=='user'"href="#!/reservationmod" onclick="closeNav()"><i class="bi bi-bookmark-fill"></i> Rendelések módosítás</a></li>
              </ul>
            </li>
            <li class="nav-item" ng-if="loggedIn==true&&logJog=='etterem'">
              <a class="nav-link profilmod" href="#!/profilmod"><i class="bx bi-gear-fill"> </i> Profil módosítás</a>

            </li>
            <li class="nav-item" ng-if="loggedIn==false">
              <a class="nav-link login" onclick="closeNav()" href="#!/login"><i class="bx bx-log-in"> </i> Bejelentkezés</a>
            </li>
            
            <li class="nav-item" ng-if="loggedIn==false">
              <a class="nav-link reg" onclick="closeNav()" href="#!/reg">Regisztráció</a>
            </li>

            <li class="nav-item dropdown" ng-if="logJog=='admin'" ><!-- -->
              <a class="nav-link dropdown-toggle" href="#" onclick="closeNav()" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                Admin felület
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item"  ng-if="logJog=='admin'" onclick="closeNav()" href="#!/admin">Éttermek kezelés</a></li>
                <li><a class="dropdown-item"  ng-if="logJog=='admin'" onclick="closeNav()" href="#!/admin/felhasznalo">Felhasználókezelés</a></li>
                <li><a class="dropdown-item"  ng-if="logJog=='admin'" onclick="closeNav()" href="#!/admin/hiba">Hibajelentések</a></li>
                <li><a class="dropdown-item"  ng-if="logJog=='admin'" onclick="closeNav()" href="#!/admin/ertekeles">Értékelések</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown" ng-if="logJog=='etterem'" >
              <a class="nav-link dropdown-toggle" href="#" onclick="closeNav()" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Étterem
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item"  ng-if="logJog=='etterem'" onclick="closeNav()"  href="#!/etteremfoglalas">Éttermek kezelés</a></li>
                <li><a class="dropdown-item"  ng-if="logJog=='etterem'" onclick="closeNav()"  href="#!/etteremetlap">Étterem étlap</a></li>
                <li><a class="dropdown-item"  ng-if="logJog=='etterem'" onclick="closeNav()"  href="#!/etteremnyitvatartas">Étterem nyitvatartás</a></li>
                <li><a class="dropdown-item"  ng-if="logJog=='etterem'" onclick="closeNav()"  href="#!/etteremkepek">Étterem képek kezelése</a></li>

              </ul>
            </li>
            <li class="nav-item" ng-if="loggedIn==true">
              <a class="nav-link reg"  href="#!/login" onclick="closeNav()"><i class="bx bx-log-out"> </i> Kijelentkezés</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
  </div>
  <div class="">
    <angularjs-notify class="alert"></angularjs-notify>
  </div>
  
  <div ng-show="sidebar==true" ng-controller="ettermekCtrl">
  <div id="mySidebar" class="sidebar">
    <p href="javascript:void(0)" class="closebtn" onclick="">×</p>
    <h3>Értékelés</h3>
    
  <div class="rating">
    <input type="radio" name="rating" id="rating-5">
    <label for="rating-5"  ng-click="Csillag(5)"></label>
    <input type="radio" name="rating" id="rating-4">
    <label for="rating-4"  ng-click="Csillag(4)"></label>
    <input type="radio" name="rating" id="rating-3">
    <label for="rating-3"  ng-click="Csillag(3)"></label>
    <input type="radio" name="rating" id="rating-2">
    <label for="rating-2"  ng-click="Csillag(2)"></label>
    <input type="radio" name="rating" id="rating-1">
    <label for="rating-1"  ng-click="Csillag(1)"></label>
  </div>
    <div class="szurokwrap">
      <input type="checkbox" ng-model="nyitva" ng-checked="nyitva==1">
      <label for="" class="szurok">Nyitva van-e?</label>
    </div>
    <div class="szurokwrap">
      <input type="checkbox" ng-model="kartyaszures" ng-checked="kartyaszures==1" >
      <label for="" class="szurok">Kártyaelfogadó hely</label>
    </div>
    <div class="szurokwrap">
      <input type="checkbox"  ng-model="parkolo" ng-checked="parkolo==1">
      <label for="" class="szurok">Parlokó</label>
    </div>
    <div class="szurokwrap">
      <input type="checkbox" ng-model="gluten" ng-checked="gluten==1">
      <label for="" class="szurok">Gluténmentes étel </label>
    </div>
    
    <div class="szurokwrap">
      <input type="checkbox" ng-model="szallitas" ng-checked="szallitas==1">
      <label for="" class="szurok">Házhozszállítás</label>
    </div>
    <div class="szurokwrap">
      <input type="checkbox" ng-model="terasz" ng-checked="terasz==1">
      <label for="" class="szurok">Terasz</label>
    </div>
    <div class="szurokwrap">
      <input type="checkbox" ng-model="wifi" ng-checked="wifi==1">
      <label for="" class="szurok">Wifi</label>
    </div>
    
      <button class="btn btn-success m-2" id="szures" ng-click="Szures()">Szűrés</button>
      <button class="btn btn-secondary m-2" id="megse" class="closebtn" onclick="closeNav()">Mégse</button>
    
    
  </div>
  <div id="main" class="item">
    <h5></h5>
    <button class="opensidebarbtn"  onclick="openNav()">☰</button>  
   
  </div>
</div>
  <div id="egesz"  ng-view>

  </div>
</div>
  <div id="footer">
    <div class="row p-2 m-0">
      <div class="col-12 col-md-8 ">
        <h3><a href="#">Feed-Net</a></h3>
        
      </div>
      <div class="col-12 col-md-4 ">
          <ul class="m-0 p-0" id="footerthings">
              <li>E-mail: admin@admin.hu</li>
              <li>Telefon: +36408245489</li>
              
          </ul>
      </div>
      
    </div>
  </div>


    <script src="js/index.js"></script>

  </div>
</body>
</html>