
    <div class="container">
        <header class="loginheader">
            <h3 class="animate__animated animate__backInUp">Bejelentkezés</h3>
        </header>
        <main class="loginmain">
            <form action="/chat" class="loginform" method="POST">
                <label class="loginlabel" for="nickname">E-mail cím:</label>
                <input type="text" name="nickname" ng-model="email" class="form-control mb-2 animate__animated animate__fadeInDown" placeholder="E-mail cím " >
                <label for="password" class="loginlabel">Jelszó:</label>
                <input type="password" name="password" ng-model="jelszo" class="form-control mb-2 animate__animated animate__fadeInRight" placeholder="Jelszó" >
                <button input type="button" ng-click="login()"  class="btn btn-secondary mt-2">Bejelentkezés</button>
            </form>
            <a href="#!/reg"> <button class="btn btn-secondary mt-2 mb-2">Regisztráció</button></a>
        </main>
        <footer class="loginfooter">
        </footer>
        </div>