
    <div class="container position-relative" ng-controller="loginCtrl">
        <header class="loginheader">
            <h3>Bejelentkezés</h3>
        </header>
        <main class="loginmain">
            <div class="form-floating mb-3 loginfloating">
                <input type="text" name="email" ng-model="email" class="form-control mb-2 animate__animated animate__fadeInDown" placeholder="E-mail cím " >
                <label class="loginlabel"  for="email">E-mail cím</label>
            </div>
            <div class="form-floating mb-3 loginfloating">
                <input type="password"  name="password" ng-model="jelszo" class="form-control mb-2 animate__animated animate__fadeInRight" placeholder="Jelszó" >
                <label for="password" class="loginlabel">Jelszó</label>
            </div>
            <button input type="button"  ng-click="login()" class="btn btn-secondary mb-2 loginbtn">Bejelentkezés</button>
            <div class="position-absolute bottom-0 end-0" style="padding-bottom: 15px; padding-right: 15px;" > <a href="#!/reg"><button class="btn btn-secondary mb-2 loginbtn">Regisztráció</button></a></div>
           
        </main>
        </div>