<div class="adminkereses"ng-controller="profilmodCtrl" >
    <div class="container-fluid">
        <h2 class="text-center">Profil Módosítás</h2>
        <hr>
        <div class="form-floating mb-3">
            <input type="text" class="form-control"   ng-model="ujnev" placeholder="+">
            <label for="floatingInput">Név</label>
          </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" ng-model="ujemail" placeholder="teszt@email.com">
              <label for="floatingInput">E-mail Cím</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control"   ng-model="ujtelefon" placeholder="teszt@email.com">
              <label for="floatingInput">Telefon</label>
            </div> 
             
            <div class="form-floating mb-3">
              <input type="password" class="form-control"  ng-model="oldpass" placeholder="t">
              <label for="floatingInput">Régi Jelszó</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control"  ng-model="ujpass" placeholder="t">
              <label for="floatingInput">Új Jelszó</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control"  ng-model="ujpass1" placeholder="t">
              <label for="floatingInput">Új Jelszó újra</label>
            </div>
            <button class="btn btn-warning" ng-click="update()">Módosít</button>
            
    </div>
</div>