
    <div class="container">
        <header class="loginheader">
            <h3 class="animate__animated animate__backInUp">Regisztráció</h3>
        </header>
        <main class="loginmain">
            <div class="login-form container">
                <h3>Regisztráció</h3>
            
                <form  class="loginform" >
                    <div class="form-group sorkoz">
                        <input type="text" name="username" ng-model="ujnev" placeholder="Név" class="form-control animate__animated animate__backInLeft" required>
                    </div>
                    <div class="form-group sorkoz">
                        <input type="text" name="username"ng-model="ujemail" placeholder="E-mail" class="form-control animate__animated animate__backInLeft" required>
                    </div>
                    <div class="form-group sorkoz">
                        <input type="password" name="passwd1"ng-model="ujjelszo" placeholder="Jelszó" class="form-control animate__animated animate__backInRight">
                    </div>
                    <div class="form-group sorkoz">
                        <input type="password" name="passwd2"ng-model="ujjelszo2" placeholder="Jelszó újra " class="form-control animate__animated animate__backInUp">
                    </div>
                    <div class="form-group sorkoz">
                        <input type="submit" value="Regisztráció"  ng-click="reg()"  class="btn btn-secondary">
                    </div>
                    
                </form>
                <a href="#!/login">Vissza a bejelentkezéshez</a>
            </div>
        </main>
        <footer  class="loginfooter">
            
        </footer>
        </div>